extends layout

block content
  h1= title
  p Rows = #{query.rows} and Columns = #{query.cols}
    -
     rows= Number(query.rows)
      col= Number(query.cols)
    if !Number.isInteger(rows)
        p you mentioned rows are not accurate 
    else if !Number.isInteger(col)
        p you mentioned columns are not appropriate 
    else if rows < 0 || rows > 5
        p you mentioned rows are in one to four range 
    else if col < 0 || col > 5
        p you mentioned colums are in one to four range
    else
       table           
            - for(let i=0; i<rows; i++) {
               tr
                 - for(let j=i; j<col+i; j++) {
                     td= j 
                 -}              
            - }